@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 0;
    background: black;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 auto;
    background-color: black;
    justify-content: center;
    margin-left: 4%;
}

.container .details.personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    min-height: 490px;
    background-color: black;
    overflow: hidden;
    text-align: center;
}

.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-left: 7%;
}

.container header::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 266px;
    border-radius: 8px;
    background-color: rgb(51, 59, 136);
}

.container .formfirst {
    position: relative;
    margin-top: 20px;
    min-height: 490px;
    background-color: black;
    overflow: hidden;
    padding-left: 50%;
    text-align: center;
}

.container form .form {
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: black;
    transition: 0.3s ease;
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: white;
}

.container form button {
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 25px 0;
    background-color: rgb(51, 59, 136);
    transition: all 0.3s linear;
    cursor: pointer;
}

.container form .btnText {
    font-size: 14px;
    font-weight: 400;
}

.container .from a {
    outline: none;
}

form button:hover {
    background-color: rgb(51, 59, 136);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button,
.nextBtn {
    margin-right: 14px;
}

input {
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    /* Ajusta este valor según el tamaño deseado */
    font-size: 1rem;
    /* Corrijo el valor incorrecto "0, 2rem" */
    color: white;
    padding: 15px;
    /* Añadir espacio interno para mejor apariencia */
    border-color: white;
    margin-bottom: 10px;
    /* Agrega espaciado en la parte inferior */
}


@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor {
        flex-direction: column;
        text-align: center;
    }
}

body {
    background: var(black);
}

.contenedor {
    width: 90%;
    margin: auto;
}

main {
    margin-top: calc(var(25vh) + 30px);
}

header {
    padding: 30px;
    padding-bottom: 0;
    padding-top: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 999;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
    font-size: 60px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

header nav a:hover,
header nav a.activo {
    color: rgb(51, 59, 136);
}

.contenedor span {
    color: rgb(51, 59, 136);
    font-family: 'Bebas Neue', cursive;
}

.container-footer {
    width: 100%;
    background: rgb(51, 59, 136);
    bottom: 0;
}

.footer {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer p {
    margin: 0;
    padding: 0;
    color: #C7C7C7;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.container-footer p:first-child {
    font-weight: bold;
    color: white;
}

.container-footer p:last-child {
    margin-top: 5px;
}

.container .main-header {
    z-index: 998;
}

.container,
.container :is(.row, header) {
    z-index: 997;
}

.container header {
    z-index: 999;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,
td {
    color: #fff;
}

.borrar {
    background-color: rgb(51, 59, 136);
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}

.btn-2 {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 17px;
    border: 1px solid rgb(51, 59, 136);
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}

.btn-2:hover {
    background-color: rgb(51, 59, 136);
    color: #fff;
}

.btn-3 {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 17px;
    border: 1px solid rgb(51, 59, 136);
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}

.btn-3:hover {
    background-color: rgb(51, 59, 136);
    color: #fff;
}

.btn-3 {
    margin-left: 90px;
}

@media (max-width: 991px) {
    .submenu:hover #carrito {
        min-width: 100%;
    }
}

#carrito {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #4e4b5076;
    padding: 10px;
}

.login-button {
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    margin: 15px 0;
    background-color: rgb(51, 59, 136);
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover {
    background-color: rgb(51, 59, 136);
    color: white;
    text-decoration: none;
}

.login-button a {
    color: white;
    text-decoration: none;
}

.login-button a:hover {
    text-decoration: none;
}

.gray-container {
    background-color: #272727;
    padding: 20px;
    margin-left: auto;
}