<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TECNOMANIA</title>

	{% load static %}

	<link rel="icon" href="{% static 'core/img/icono.ico' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'core/css/index.css' %}">

</head>

<body>

	<header class="main-header">
		<div class="contenedor">
			<h2 class="logotipo"> <span>TECNO</span>MANIA</h2>
			<nav class="navprincipal">

				<a href="#" class="activo"><b>Inicio</b></a>
				<a href="{% url 'cuenta' %}"><i class="fas fa-user"></i>Mi cuenta</a>
				<a href="{% url 'tecnomania' %}">Nosotros</a>
			</nav>
			<div>
				<ul>
					<li class="submenu">
                        <img src="{% static 'core/img/car.svg' %}" alt="imagen-carrito">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Productos</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                            <a href="#" id="Comprar-carrito" class="btn-3">Comprar</a>

                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</header>

	<section class="cover">
		<figure>
			<img src="{% static 'core/img/publicidad.png' %}" class="publicidad" />
		</figure>
	</section>

	<div class="container">

		<header>LAPTOPS</header>

		<div class="row">
			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img1.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>LAPTOP LENOVO</h3>
						<h4>14pulg AMD 3020E RAM 4GB 256GB</h4>
						<h5 class="precio">$300.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img2.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>LAPTOP ASUS GAMER</h3>
						<h4>Ryzen 9 5900HX, 16GB, 1TB SSD, RTX 3060 6GB</h4>
						<h5 class="precio">$1670.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img3.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>LAPTOP DELL</h3>
						<h4>Core i5 11va, 8GB, 256GB touch, W11</h4>
						<h5 class="precio">$690.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img4.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>LAPTOP HP</h3>
						<h4>Core i3 11va, 128GB, 4GB, touch, silver</h4>
						<h5 class="precio">$399.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="container">

		<header>PC ESCRITORIO</header>

		<div class="row">
			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img5.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>DELL ALL IN ONE</h3>
						<h4>Core i7 12va, 1TB, 512GB,
							16GB, touch, 27pulg, nvidia 2GB</h4>
						<h5 class="precio">$1470.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img6.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>DELL ALL IN ONE</h3>
						<h4>Core i5 11va, 1TB, 256GB SSD,
							12GB, 24pulg touch</h4>
						<h5 class="precio">$980.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img7.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>DELL ALL IN ONE</h3>
						<h4>Core i7 11va, 1TB, 512GB,
							16GB RAM, 27pulg touch, nvidia 2GB</h4>
						<h5 class="precio">$1299.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img8.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>ALL IN ONE HP</h3>
						<h4>Core i3 11va, 512GB, 8GB, 24pulg, BT, w10</h4>
						<h5 class="precio">$835.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="container">

		<header>CELULARES</header>

		<div class="row">
			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img9.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>XIAOMI REDMI NOTE 11</h3>
						<h4>6,4pulg, 6GB RAM, 128GB,
							pantalla amoled y gorillaglass</h4>
						<h5 class="precio">$231.99</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img10.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>SAMSUNG GALAXY A33</h3>
						<h4>6,4pulg, 6GB RAM + 128GB,
							5G + gorillaglass</h4>
						<h5 class="precio">$320.50</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img11.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>HONOR X7</h3>
						<h4>6,7pulg, 6GB RAM + 128GB LCD</h4>
						<h5 class="precio">$255.99</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product-top">
					<img src="{% static 'core/img/img12.png' %}" alt="">
					<div class="product-bottom text-center">
						<h3>IPHONE 11</h3>
						<h4>6.1pulg, 128GB iOS 13, 4GB RAM, 3110 mAh, LCD </h4>
						<h5 class="precio">$835.00</h5>
						<a href="#" class="agregar-carrito btn-2" data-id="14">Agregar al carrito</a>
					</div>
				</div>
			</div>

		</div>

	</div>



	<script src="https://kit.fontawesome.com/2236c08e12.js" crossorigin="anonymous"></script>
	<script src="{% static 'core/js/main.js' %}"></script>



	<div class="container-footer">
		<div class="footer">
			<div class="copyright">
				<p>TECNOMANIA | ZAMART</p>
				<p>Copyright© 2023 Todos los derechos reservados</p>
			</div>
		</div>
	</div>
	<script src="{% static 'core/js/script.js' %}"></script>
    <script>
        const comprarCarritoBtn = document.getElementById('Comprar-carrito');

comprarCarritoBtn.addEventListener('click', function() {
    window.location.href = "/pago/";  // Cambiar "/compra/" por la URL real de la página de pago en Django
});

    </script>
</body>

</html>